.images .image {
	margin:20px;
	position: relative;
}

.images .image .remove{
	position: absolute;
    top: -5px;
    right: -5px;
    background: #e00047;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.images .image img{
	width:70px;
	height:70px;
}

.error{
    background:#fc9c9c !important;
}

.night , .date{
    margin-bottom:20px;
}

input[type="text"] , select {
    margin-bottom:20px;
}